{% extends "base.html" %}

{% block content %}
<h1>Danh sách Khóa Học</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Tên Khóa Học</th>
            <th>Mô Tả</th>
            <th>Hành động</th>
        </tr>
    </thead>
    <tbody>
        {% for course in courses %}
        <tr>
            <td>{{ course.name }}</td>
            <td>{{ course.description }}</td>
            <td>
                <a href="{{ url_for('student.view_videos', course_id=course.id) }}" class="btn btn-info btn-sm">Xem Video</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %} 